---
title: This is the Wagon Bordeaux Team
---

<h1 class="text-center"> Our Team </h1>

  <div class="container text-center"></div>
    <div class="row">
    <ul class="list-inline text-center">
      <% data.team_members.each do |member| %>
        <div class="col-md-3 col-sm-6"></div>
          <% link_to "/buddies/#{member[:name].downcase}.html" do %>
            <img class="avatar" src="<%= member[:picture_url] %>" alt="<%= "#{member[:name]} - #{member[:position]}" %>">
          <% end %>
        <h3><%= member[:name] %></h3>
        <p><%= member[:position] %></p>
      <% end %>


